<div class="container">

    <h3>List of eBooks</h3>

    <table class="table table-hover" ng>
        <thread>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Rating</th>
                <th>Price</th>
                <th>ISBN</th>
                <th ng-bin></th>
            </tr>
        </thread>
        <tbody>
            <tr ng-repeat="book in books">
                <td>{{ $index }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td>{{ book.rating }}</td>
                <td>{{ book.price }}$</td>
                <td>{{ book.isbn }}</td>
                <td><span class="glyphicon glyphicon-edit"></span>
                    <span ng-click="delBook($index)" class="glyphicon glyphicon-trash"></span><td>
            </tr>
        </tbody>
    </table>
</div>