<div class="container">

    <h3>List of eBooks</h3>
    <div class="input-group">
        <label for="bookFilter" class="input-group-addon">Filter: </label><input id="bookFilter" ng-model="search" type="search" class="form-control col-3">
    </div>
    <br><br>
    <table class="table table-hover">
        <thread>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Rating</th>
                <th>Price</th>
                <th>ISBN</th>
                <th></th>
            </tr>
        </thread>
        <tbody>
            <tr ng-repeat="book in books | isbnAvareFilter:search  |orderBy:book.rating">
                <td>{{ $index + 1 }}</td>
                <td>{{ book.title}}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.genre }}</td>
                <td><star-rating numberOfStars="6" rating="{{ book.rating }}"></star-rating></td>
                <td>{{ book.price }}$</td>
                <td>{{ book.isbn }}</td>
                <td class="tooltip-icon">
                    <span data-toggle="tooltip" data-placement="top" title="Borrow book" ng-click="borrowBookModal($index)" class="glyphicon glyphicon-book tooltip-icon"></span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Edit book" ng-click="editBookModal($index)" class="glyphicon glyphicon-edit tooltip-icon"></span>
                    <span data-toggle="tooltip" data-placement="bottom" title="Delete book" ng-click="delBook($index)" class="glyphicon glyphicon-trash tooltip-icon"></span>
                    <span data-toggle="tooltip" data-placement="bottom" title="List borrowers" ng-click="listBorrowersModal($index)" class="glyphicon glyphicon-list tooltip-icon"></span>
                <td>
            </tr>
        </tbody>
    </table>
    <div class="modal fade" id="editBookModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title">Edit eBook</h3>
                </div>
                <div class="modal-body">
                            <div class="input-group">
                                <label for="titleInput" class="input-group-addon">Title:</label>
                                <input class="form-control" ng-model="editBook.title" type='text' id='titleInput' placeholder='Title' required>
                            </div> <br>
                            <div class="input-group">
                                <label for="authorInput" class="input-group-addon">Author: </label>
                                <input class="form-control" ng-model="editBook.author" type='text' id='authorInput' placeholder='Author' required>
                            </div><br>
                            <div class="input-group">
                                <label for="genreInput" class="input-group-addon">Genre: </label>
                                <select class="form-control" ng-model="editBook.genre" id='genreInput' required>
                                    <option>Fantasy</option>
                                    <option>Biography</option>
                                    <option>Children's book</option>
                                    <option>Classic</option>
                                    <option>Graphic novel</option>
                                    <option>History</option>
                                    <option>Horror</option>
                                    <option>Music</option>
                                    <option>Non-fiction</option>
                                    <option>Romance</option>
                                    <option>Poetry</option>
                                    <option>Sci-fi</option>
                                    <option>Sport</option>
                                    <option>Thriller</option>
                                    <option>Travel</option>
                                    <option>War</option>
                                    <option>Other</option>
                                </select>
                            </div><br>
                            <div class="input-group">
                                <label for="priceInput" class="input-group-addon">Price: </label>
                                <input class="form-control" ng-model="editBook.price" type='text' id="priceInput" pattern="\d+.\d\d" placeholder='0.0' required>
                                <span class="input-group-addon">$</span>
                            </div><br>
                    <div class="input-group">
                        <label style="float: left" >Rating:  </label>
                        <star-rating-input numberofstars="6" model="editBook.rating"></star-rating-input>
                    </div><br>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="editBookFn(editBook, index)">Save changes</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="borrowBookModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Borrow eBook</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <label for="borrowerName" class="input-group-addon" ng-model="borrower.index">Name</label>
                        <input id="borrowerName"  ng-model="borrower.name" type="text">
                    </div>
                    <div ng-show="alertshow" id="duplicateBorrowerAlert" class="alert alert-warning">
                        {{ borrowerName }} has already borrowed this book.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="borrowBook(borrower.name, index)">Borrow book</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="borrowersModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Borrowers</h4>
                </div>
                <div class="modal-body">
                    <ul ng-repeat="borrower in loanerList">
                         <li>{{  borrower.Name }}</li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script>

    </script>
</div>

