<div class="container">
    <form name="form" ng-submit="registerBook(book)" class="form-horizontal" id="registerBookForm">
        <fieldset>
            <h3>Register eBook</h3>
            <div class="input-group">
                <label for="titleInput" class="input-group-addon">Title:</label>
                <input class="form-control" ng-model="book.title" type='text' id='titleInput' placeholder='Title' required>
            </div> <br>
            <div class="input-group">
                <label for="authorInput" class="input-group-addon">Author: </label>
                <input class="form-control" ng-model="book.author" type='text' id='authorInput' placeholder='Author' required>
            </div><br>
            <div class="input-group">
                <label for="genreInput" class="input-group-addon">Genre: </label>
                <select class="form-control" ng-model="book.genre" id='genreInput' required>
                    <option>Fantasy</option>
                    <option>Biography</option>
                    <option>Children's book</option>
                    <option>Classic</option>
                    <option>Graphic novel</option>
                    <option>History</option>
                    <option>Horror</option>
                    <option>Music</option>
                    <option>Non-fiction</option>
                    <option>Romance</option>
                    <option>Poetry</option>
                    <option>Sci-fi</option>
                    <option>Sport</option>
                    <option>Thriller</option>
                    <option>Travel</option>
                    <option>War</option>
                    <option>Other</option>
                </select>
            </div><br>
            <div class="input-group">
                <label for="priceInput" class="input-group-addon">Price: </label>
                <input class="form-control" valid-price id="priceInput" ng-model="book.price" name="price" type='text' pattern="\d+.\d\d" placeholder='0.0' required>
                <span class="input-group-addon">$</span>
                <span class="input-group-btn" ng-show="form.price.$error.price">This is not a valid ISBN</span>
            </div><br>
            <div class="input-group">
                <label for="ratingInput" class="input-group-addon">Rating: </label>
                <select class="form-control" ng-model="book.rating" id='ratingInput' required>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                </select>
            </div><br>
            <div class="input-group">
                <label for="isbninput" class="input-group-addon">ISBN: </label>

                <input valid-isbn class="form-control" name="isbn" ng-model="book.isbn" type='text' id='isbninput' placeholder='ISBN' >
                <span class="input-group-btn" ng-show="form.isbn.$error.isbn">This is not a valid ISBN</span>
            </div>
            <br><input class="btn btn-default" ng-disabled="form.$invalid || form.isbn.$error.isbn" type="submit" value="Register eBook" required>
            <input class="btn btn-default" type="reset" value="Clear form">
        </fieldset>
    </form>
    <div class="modal fade" id="bookAddedModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Book added!</h4>
                </div>
                <div class="modal-body">
                    <p>The book {{ book.title }} has been added to the registry</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
